.input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}



.messages {
    background-color: black;
    color: white;
    font-family: inherit;
    margin: auto;
}


.boite1 {
  color: orangered;
    width: 100%;  
}


.expression {
    color: orangered;
}


.memento {
    font-family: fantasy;
}

.pre {
    background-color: orange;
    font-size: 20px;
    border-bottom-style:inset;
    border-color: orangered;
    color: brown;
   text-align: center;
   
}

.contenu {
    text-align: left; 
}

.blockquote{
    border-left-color: orangered;
    color: black;
}

.press {
    background: black;
    width: 20%;
    height:33px;
    text-align:center;
    font-size: 25px;
}

.contenu1 {
    text-align: left; 
}

.press1 {
    background: orange;
    width: 100%;
    height:33px;
    text-align:center;
    font-size: 25px;
}

.note {
    border-bottom-color: aqua;
}


.press2 {
    background:black;
    width: 30%;
    height:33px;
    text-align:center;
    font-size: 25px;
}


.mvc {
    color: navy;
    font-size: 20px;
}

.titre-important {
    color: orangered;
   
    
}

.encart {
    background-color:gainsboro;
  color: green;
    font-weight: 800px;
    font-size: 20px;
}



code {
    background-color: darkgreen;
    color: white;
 
}

.boitedetexte {
    background-color:gainsboro;
    width: 900px;
  padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
  
   
}

.titledescription {
    font-size: 21px;
    font-weight: bold;
    color:firebrick;
}

.testeur {
    background-color: dimgray;
  
}



.description {
    font-size: 17px;
}


.color {
    color: green;
    font-size: 21px;
    font-style: bold;
}

.color2 {
    color: green;
    font-size: 19px;
    font-weight: 800;
    text-decoration: underline;
}

.color3 {
    font-size: 19px;
    
}
