
.tabulation {
    color: #027db3;
    font-size: 23px;
    font-weight: bold;
    
    
}

.meta {
    font-size: 18px;
  
}

.precode {
    background-color: black;
    color: white;
    font-size: 15px;
    width: 50%;
    margin-top: 15px;
}








